body {
  background-color: #070532;
}
label {
  display: block;
  width: 80%;
}
input {
  display: inline;
  width: 80%;
  -webkit-text-fill-color: black;
  color: black;
}

textarea {
  display: inline;
  width: 80%;
  -webkit-text-fill-color: black;
  color: black;
}

select {
  width: 80%;
  color: black;
  -webkit-text-fill-color: black;
  accent-color: black;
  display: flex;
}
select::after {
  content-visibility: visible;
  color: #374151;
  transform: translateY(-50%);
}
option {
  color: black;
  -webkit-text-fill-color: black;
}

p {
  display: flex;
  color: #c51818;
  font-size: x-small;
}
